body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.basicLayer {
  z-index: -1;
}

.socialSection {
  position: fixed;
  bottom: 0%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  transition: all 1s ease;
}

.social {
  width: 17rem;
  height: auto;
}

/* 1244 * 701*/
.player-wrapper {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 60%;
  height: auto
}

@media screen and (min-width: 1280px) {
.social {
  width: 25rem;
  height: auto;
}
}

@media screen and (max-width: 900px) {
  .player-wrapper {
    position: fixed;
    top: 65%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: auto;
    
  }

}


.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
